# scRNA-seq-lung cancer

In [7]:
from utils import Utils
from geo_db import GeoDb

%reload_ext autoreload
%autoreload 2

In [8]:
# 
pmid_samples = Utils.from_json('../data/pmid_samples.json')
pmid_geo = Utils.from_json('../data/pmid_geo.json')
geo_sampleid = Utils.from_json('../data/geo_sampleid.json')

In [63]:
# 
indir = '../data'
db_name = 'scrnaseq_lung'
db = GeoDb(indir, db_name)

In [128]:
# drop table
db.drop_table('geo')
# db.drop_table('sample')
# db.drop_table('rawdata')

In [129]:
# create tables
db.create_table_geo()
db.create_table_sample()
db.create_table_rawdata()

Create a new table geo
Failed in creating the table: error=table sample already exists
Failed in creating the table: error=table rawdata already exists

<!-- sqlite3 command -->
sqlite
.open /home/yuan/bio/scrnaseq_reference/data/scrnaseq_lung.db
.tables

## data cell line H1299

In [152]:
sql_pool = []
geo_h1299 = ['GSE286399', 'GSE280041', 'GSE144357', 'GSE121309', 'GSE183590', 'GSE148729']
for geo in geo_h1299:
    samples = Utils.geo_get(geo_sampleid, geo)
    for sample in samples:
        val = str((sample, geo))
        sql = f"INSERT INTO geo VALUES ('4', '4')"
        sql_pool.append(sql)
        # print(sql)
    break
# insert into table geo
db.load(sql_pool)
res = db.count_rows('geo')
print(res)

UNIQUE constraint failed: geo.sample_id
UNIQUE constraint failed: geo.sample_id
UNIQUE constraint failed: geo.sample_id
1 are inserted. 3 failed.
None

In [95]:
a =(geo, sample)
str(a)

"('GSE286399', 'GSM8726433')"

In [143]:
import sqlite3
db_file = '/home/yuan/bio/scrnaseq_reference/data/scrnaseq_lung.db'
conn = sqlite3.connect(db_file)

In [144]:
res = conn.execute(f"SELECT * FROM geo").fetchall()
print(res)

[]

In [148]:
import sqlite3

# conn = sqlite3.connect(":memory:")
conn = sqlite3.connect(db_file)

# conn.execute("CREATE TABLE t (id int, name TEXT)")

conn.execute("INSERT INTO t VALUES (1, 'row1')")
conn.execute("INSERT INTO t VALUES (2, 'row2')")

print(conn.execute("SELECT * FROM t").fetchall())

conn.execute("""
CREATE VIEW view_t as
SELECT * FROM t """)

print(conn.execute("SELECT * FROM view_t").fetchall())

OperationalError: database is locked